<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="static/styles.css" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="static/default.js"></script>
</head>

<body>

<div id="container" style="border:1px solid #cccccc; overflow:auto;">
	<div class="msg msg_left">
		<span class="user1 msg_left_content">Hello! Please enter a verse to translate. An example has been given below for you</span>
	</div>
	<div class="msg msg_right">
		<span class="user2 msg_right_content">But he answered, “It is written, “‘Man shall not live by bread alone, but by every word that comes from the mouth of God.’”</span>
	</div>
</div>

<div id="form-container">
	<form id="form-reply" role="form">
		<input type="text" id="form-reply-input" name="reply" class="chat_input" required autofocus>
	</form>
 </div>

</body>
</html>
