<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="static/styles.css" type="text/css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="static/default.js"></script>
</head>

<body>

<div id="container" style="border:1px solid #cccccc; overflow:auto;">
	<div class="msg msg_left">
		<span class="user1 msg_left_content">Hello! How are you?</span>
	</div>
	<div class="msg msg_right">
		<span class="user2 msg_right_content">Hey! It has been a long while! How has it been for you?</span>
	</div>
	<div class="msg msg_left">
		<span class="user1 msg_left_content">I wonder if you are free for lunch this Thur? You can ask Kate to come along if you want.</span>
	</div>
	<div class="msg msg_right">
		<span class="user2 msg_right_content">Sure, let me ask her.</span>
	</div>
	<div class="msg msg_right">
		<span class="user2 msg_right_content">She just checked back. She's okay to join us!</span>
	</div>
</div>

<div id="form-container">
	<form id="form-reply" role="form">
		<input type="text" id="form-reply-input" name="reply" class="chat_input" required autofocus>
	</form>
 </div>

</body>
</html>
